@model Search
@{
    ViewData["Title"] = "Find an expedition";
}
<h2 class="text-center">Search</h2>

<form asp-controller="Home" asp-action="Find" method=get>
    <div class="input-group">
        <label class="bg-primary"> Year:   </label>
        <input asp-for="Year" placeholder="1999" class="form-control" required min="1920" max="2019" />
        <div class="input-group-append">
            <button class="btn btn-success" type="submit"> Search </button>
        </div>
    </div>
</form>

@if (Model != null)
{
    <div class="text-center p-2 card">
        <table class="table table-bordered table-striped table-sm table-dark">
            <thead>
                <tr>
                    <th>
                        Year
                    </th>
                    <th>
                        Peak
                    </th>
                    <th>
                        Start Date
                    </th>
                    <th>
                        Success / Failure
                    </th>

            </thead>
            <tbody>
                @foreach (var item in Model.ExpeditionList)
                {
                    <tr>
                        <td> @item.Year </td>
                        <td> @item.Peak.Name </td>
                        <td> @item.StartDate </td>
                        <td> @item.TerminationReason </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
