
@{
    ViewBag.Title = "DietaryRestriction";
}
<div class="navbar">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Dietary Restrictions", "DietaryRestrictions", "AccountManagement")</li>
                <li>@Html.ActionLink("Favorite Recipes", "FavoriteRecipes", "AccountManagement")</li>
                <li>@Html.ActionLink("Food Preferences", "FoodPreferences", "AccountManagement")</li>
                <li>@Html.ActionLink("Update Account Info", "AccountInfo", "AccountManagement")</li>
            </ul>
        </div>
    </div>
</div>
<h1> Dietary Restrictions To Be Implemented</h1>