@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><center>Welcome to MealFridge! </center></h1>
    <p class="lead">Here is the future site of the Meal Fridge App</p>
    <p> MealFridge is an app that helps users find recipes based on their own ingredients,
    create shopping lists, and much more!</p>
    <p> We are currently in production of this site, so check back soon for future 
    updates.</p>
</div>

